{
	admin off
}

# Main domain - DID:web document hosting
# did:web:devlab.biz.id:wallet-api:registry:<id> resolves to:
# https://devlab.biz.id/wallet-api/registry/<id>/did.json
devlab.biz.id {
    reverse_proxy /wallet-api/* http://wallet-api:{$WALLET_BACKEND_PORT}
    respond "walt.id identity service" 200
}

# Wallet API (direct access)
wallet-api.devlab.biz.id {
    reverse_proxy http://wallet-api:{$WALLET_BACKEND_PORT}
}

# Issuer API
issuer.devlab.biz.id {
    reverse_proxy http://issuer-api:{$ISSUER_API_PORT}
}

# Verifier API
verifier.devlab.biz.id {
    reverse_proxy http://verifier-api:{$VERIFIER_API_PORT}
}

# Wallet Frontend (Demo)
wallet.devlab.biz.id {
    reverse_proxy http://waltid-demo-wallet:{$DEMO_WALLET_FRONTEND_PORT} # frontend
    reverse_proxy /wallet-api/* http://wallet-api:{$WALLET_BACKEND_PORT} # backend
}

# Web Portal
portal.devlab.biz.id {
    reverse_proxy http://web-portal:{$WEB_PORTAL_PORT}
}